.pizzaListContainer {
    padding: 20px 10px;
    text-align: center;
}

.pizzaListCardContainer {
    display: flex;
    cursor: pointer;
    gap: 10px;
    overflow: auto;
    padding: 5px;
}

.pizzaListCard {
    padding: 20px 40px;
    border-radius: 16px;
    border: 1px solid transparent;

    img {
        width: 140px;
    }

    h2 {
        color: #d1411e;
        font-size: 18px;
    }

    span {
        color: #666;
        font-size: 18px;
        font-weight: 700;
    }

    p {
        color: #777;
    }

}

.pizzaListCard:hover {
    border: 1px solid rgb(203, 203, 203);
    box-shadow: 5px 5px 5px #0000002b;
    transition: 0.3s;
}

@media screen and (min-width: 1024px) {
    .pizzaListCardContainer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}