.orderStepContainer {
    height: 100%;
    display: flex;
    flex-direction: column;

    img {
        width: 80%;
        margin: 0 auto;
    }
}

.orderStepInfoBox {
    padding: 30px 20px;
}

@media screen and (min-width: 768px) {
    .orderStepContainer {
        height: calc(100vh - 100px);
        display: grid;
        grid-template-columns: 1fr 1fr;
    
        img {
            width: 100%;
        }
    }
}

@media screen and (min-width: 1024px) {
    .orderStepContainer > img {
        width: calc(100vh - 100px);
    }
}