.footerContainer {
    background-color: #222;
    color: #d3d3d3;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.footerImageBox {
    width: 100%;
}

.footerImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.footerColumn {
    padding: 0 20px;
    text-align: center;
}

.footerTitle {
    font-size: 24px;
}

.footerColumnTitle {
    color: #b7903c;
    font-size: 18px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .footerTextBox {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1024px) {
    .footerContainer {
        height: calc(100vh - 100px);
        flex-direction: row;
    }
    
    .footerImageBox {
        width: 30%;
    }
    
    .footerTextBox {
        display: flex;
        padding: 50px;
        flex: 2 1;
    }
    
    .footerColumn {
        flex: 1 1;
    }
    
    .footerTitle {
        text-align: left;
    }
}



